{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Shopping Buggy</h1>
			<p class="lead fw-normal text-white-50 mb-0">
				View your cart <span>🧺</span>
			</p>
		</div>
	</div>
</header>
<!-- Section-->
<section class="py-5">
	{% if cart_products %}
		{% for product in cart_products %}
		<div class="container mt-3">
			<div class="card mb-3">
				<div class="row g-0">
					<div class="col-md-4 d-flex align-items-center">
						<img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." />
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title d-flex justify-content-center">{{ product.name }}</h5>
							<p class="card-text mt-3 d-flex justify-content-center">{{ product.description }}</p>
							{% if product.on_sale %}
								<div class="d-flex justify-content-center large text-warning mb-2">
									<div class="bi-star-fill"></div>
									&nbsp;&nbsp;Sale!&nbsp;&nbsp;
									<div class="bi-star-fill"></div>
									</div>
					
									<!-- Product price-->
									<span class="d-flex justify-content-center">								
										<strike>
										${{ product.price }}
										</strike>
									</span>
									<span class="d-flex justify-content-center">								
										<em>${{ product.sale_price }}</em>
										
										
									</span>
									<br>	
					
							{% else %}
								<span class="d-flex justify-content-center">								
									<em>${{ product.price }}</em>
									
									
								</span>
								<br><br>															
							{% endif %} 

							<div class="row justify-content-center">
								<div class="col-md-2">Quantity: </div>
									<div class="col-md-2">
										
										<select id="select{{ product.id }}" class="form-select form-select-sm">
											{% for pid, qty in quantities.items %}
												
 											{% if pid == product.id|slugify %}
													<option selected value="{{qty}}">{{qty}}</option>
												{% endif %}
											{% endfor %}
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
										</select>
									
								</div>
							</div>
							<br>
							
							<div class="row justify-content-center">
								<div class="col-md-2"> 
									<button 
									type="button"
									data-index="{{product.id}}" 
									class="btn btn-secondary mb-2 update-cart"
									>Update</button>
								</div>
								<div class="col-md-2">
									<button 
									type="button"
									data-index="{{product.id}}" 
									class="btn btn-danger delete-product"
									>Remove</button>
									
								</div>
							</div>



							
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="container">
			<h3>Total: ${{ total }}</h3>
		</div>
	{% else %}
	<div class="container">
		<p>There's nothing in your cart yet...</p>
	</div>
	<br><br><br>
	{% endif %}
</section>

<br><br><br><br>

<script>
	// Update button
	$(document).on('click', '.update-cart', function(e){
		e.preventDefault();
		//  Get product id
		const productID = $(this).data('index');
		$.ajax({
			type: 'POST',
			url: "{% url 'cart-update' %}",
			data: {
				product_id: productID,
				product_qty: document.getElementById("select" + productID).value,
				csrfmiddlewaretoken: '{{ csrf_token }}',
				action: 'post',
			},
	
			success: function(json){
				console.log(json)				
				document.getElementById("cart-quantity").textContent = json.qty;
				location.reload();  
			},
	
			error: function(xhr, errmsg, err){
				console.log(errmsg, err);
			}
	
	
		});
	
	
	
	})


		// Delete button
		$(document).on('click', '.delete-product', function(e){
			e.preventDefault();
			//  Get product id
			const productID = $(this).data('index');
			$.ajax({
				type: 'POST',
				url: "{% url 'cart-delete' %}",
				data: {
					product_id: productID,
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',
				},
		
				success: function(json){
					console.log(json)				
					location.reload();  
				},
		
				error: function(xhr, errmsg, err){
					console.log(errmsg, err);
				}
		
		
			});
		
		
		
		})
	
	</script>


{% endblock content %}
