{% extends 'base.html' %}
{% load static %}

{% block content %}
	{% comment %} <center>
	<div class="container mt-3">
		<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
			<img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." />
			</div>
			<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">{{ product.name }}</h5>
				<p class="card-text mt-3">{{ product.description }}</p>
				<a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}"
									>Home</a>
			</div>
			</div>
		</div>
		</div>
	</div>
	</center> {% endcomment %}



    <center>
        <div class="container mt-3">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text mt-3">{{ product.description }}</p>
							{% if product.on_sale %}
							<div class="d-flex justify-content-center large text-warning mb-2">
								<div class="bi-star-fill"></div>
								&nbsp;&nbsp;Sale!&nbsp;&nbsp;
								<div class="bi-star-fill"></div>
								</div>
				
								<!-- Product price-->
								<span class="d-flex justify-content-center">								
									<strike>
									${{ product.price }}
									</strike>
								</span>
								<span class="d-flex justify-content-center">								
									<em>${{ product.sale_price }}</em>
									
									
								</span>
								<br>	
				
						{% else %}
							<span class="d-flex justify-content-center">								
								<em>${{ product.price }}</em>
								
								
							</span>
							<br><br>	
													
						{% endif %}  
							<br><br>
							<div class="row justify-content-center">
								<div class="col-md-2">Quantity: </div>
									<div class="col-md-2">
										<select id="cart-qty" class="form-select">
											{% for pid, qty in quantities.items %}
												{{pid}} , {{qty}}
 											{% if pid == product.id|slugify %}
													<option selected value="{{qty}}">{{qty}}</option>
												{% endif %}
											{% endfor %}
										

											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
										</select>
									
								</div>
							</div>
							<br>
                            <a class="btn btn-outline-dark mt-auto me-1" href="{% url 'home' %}">Home</a>
							{% with category_url=product.category %}
								<a class="btn btn-outline-dark mt-auto me-5" href="{% url 'about'|lower %}">{{ product.category }}</a>
							{% endwith %}
						
							<button 
								type="button" 
								class="btn btn-success"
								value="{{ product.id }}"
								id="add-cart"
							>Add to Cart</button>
							
							
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>

  	<br><br><br><br><br><br><br><br><br><br><br><br><br>
	<!-- JS for cart functionality -->
	<script>
		// Check if button pressed
		$(document).on('click', '#add-cart', function(e){
			e.preventDefault();
			$.ajax({
				type: 'POST',
				url: "{% url 'cart-add' %}",
				data: {
					product_id: $('#add-cart').val(),
					product_qty: $('#cart-qty option:selected').text(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',
				},
		
				success: function(json){
					console.log(json)
					document.getElementById("cart-quantity").textContent = json.qty
					location.reload();  
				},
		
				error: function(xhr, errmsg, err){
					console.log(errmsg, err)
				}
		
		
			});
		
		
		
		})
		
		</script>
	{% comment %} <script id="dynamic-data" data-cart-add-url="{% url 'cart-add' %}"></script>
	<script id="dynamic-data1" data-cart-add-url="{% url 'cart-add' %}"></script>
	<script src="{% static 'js/cart.js' %}"></script> {% endcomment %}
{% endblock %}
